<ion-view title="Pay" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="pay-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Introduce parsec payment reference or use NFC</p>
    </div>
    <form id="pay-form3" class="list">
      <label class="item item-input" id="pay-input6">
        <span class="input-label">Ref:</span>
        <input type="text" placeholder="">
      </label>
      <button id="pay-button2" class="button button-positive  button-block">Retrieve</button>
    </form>
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <div>
      <img src="img/3n5Pcz1kRyKiSHHhSvBQ_nfc-icon-6c.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>