<ion-view title="Settings" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/LaxXl30Sk68EvrGioAqw_qrcode.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="settings-button3" class="button button-positive  button-block">Scan Private Key</button>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <form id="settings-form4" class="list">
      <label class="item item-input" id="settings-input9">
        <span class="input-label">Parsec Node:</span>
        <input type="text" placeholder="default.parsec">
      </label>
      <button id="settings-button4" class="button button-positive  button-block">Register</button>
    </form>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <form id="settings-form6" class="list">
      <label class="item item-input" id="settings-input12">
        <span class="input-label">Add funds Ξ</span>
        <input type="number" placeholder="0.00">
      </label>
      <button id="settings-button5" class="button button-energized  button-block">Transfer</button>
    </form>
  </ion-content>
</ion-view>